################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/.vs/JediAcademy/v17
/code/.vs/JediAcademy/FileContentIndex
/code/Debug/game
/.vs/marvin/v17
/code/Debug/exe
/.vs
